# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
adagio=0.2.4=pypi_0
aiofiles=23.2.1=pypi_0
aiosignal=1.3.1=pypi_0
alembic=1.12.0=pypi_0
altair=5.1.1=pypi_0
ansi2html=1.8.0=pypi_0
antlr4-python3-runtime=4.11.1=pypi_0
anyio=3.7.1=pypi_0
appdirs=1.4.4=pypi_0
argon2-cffi=23.1.0=pypi_0
argon2-cffi-bindings=21.2.0=pypi_0
arrow=1.2.3=pypi_0
asttokens=2.4.0=pypi_0
async-lru=2.0.4=pypi_0
attrs=23.1.0=pypi_0
babel=2.12.1=pypi_0
backcall=0.2.0=pypi_0
beautifulsoup4=4.12.2=pypi_0
bleach=6.0.0=pypi_0
boto3=1.28.48=pypi_0
botocore=1.31.48=pypi_0
bzip2=1.0.8=he774522_0
ca-certificates=2023.08.22=haa95532_0
catboost=1.2.1=pypi_0
category-encoders=2.6.2=pypi_0
certifi=2023.7.22=pypi_0
cffi=1.15.1=pypi_0
charset-normalizer=3.2.0=pypi_0
click=8.1.7=pypi_0
cloudpickle=2.2.1=pypi_0
cmaes=0.10.0=pypi_0
colorama=0.4.6=pypi_0
colorlog=6.7.0=pypi_0
colour=0.1.5=pypi_0
comm=0.1.4=pypi_0
contourpy=1.1.0=pypi_0
cryptography=41.0.3=pypi_0
cycler=0.11.0=pypi_0
cython=3.0.2=pypi_0
daal=2023.2.1=pypi_0
daal4py=2023.2.1=pypi_0
dacite=1.8.1=pypi_0
dash=2.13.0=pypi_0
dash-auth=2.0.0=pypi_0
dash-bootstrap-components=1.5.0=pypi_0
dash-core-components=2.0.0=pypi_0
dash-cytoscape=0.3.0=pypi_0
dash-html-components=2.0.0=pypi_0
dash-table=5.0.0=pypi_0
dash-testing-stub=0.0.2=pypi_0
dask=2023.7.0=pypi_0
databricks-cli=0.17.7=pypi_0
debugpy=1.8.0=pypi_0
decorator=5.1.1=pypi_0
defusedxml=0.7.1=pypi_0
deprecated=1.2.14=pypi_0
deprecation=2.1.0=pypi_0
dill=0.3.7=pypi_0
distributed=2023.7.0=pypi_0
docker=6.1.3=pypi_0
dtreeviz=2.2.2=pypi_0
entrypoints=0.4=pypi_0
evidently=0.2.8=pypi_0
exceptiongroup=1.1.3=pypi_0
executing=1.2.0=pypi_0
explainerdashboard=0.4.3=pypi_0
fairlearn=0.7.0=pypi_0
fastapi=0.103.1=pypi_0
fastjsonschema=2.18.0=pypi_0
ffmpy=0.3.1=pypi_0
filelock=3.12.4=pypi_0
flask=2.2.3=pypi_0
flask-simplelogin=0.1.2=pypi_0
flask-wtf=1.1.1=pypi_0
fonttools=4.42.1=pypi_0
fqdn=1.5.1=pypi_0
frozenlist=1.4.0=pypi_0
fs=2.4.16=pypi_0
fsspec=2023.9.0=pypi_0
fugue=0.8.6=pypi_0
fugue-sql-antlr=0.1.7=pypi_0
future=0.18.3=pypi_0
gevent=23.9.1=pypi_0
gitdb=4.0.10=pypi_0
gitpython=3.1.36=pypi_0
gradio=3.44.3=pypi_0
gradio-client=0.5.0=pypi_0
greenlet=2.0.2=pypi_0
grpcio=1.58.0=pypi_0
h11=0.14.0=pypi_0
htmlmin=0.1.12=pypi_0
httpcore=0.18.0=pypi_0
httpx=0.25.0=pypi_0
huggingface-hub=0.17.1=pypi_0
hyperopt=0.2.7=pypi_0
idna=3.4=pypi_0
imagehash=4.3.1=pypi_0
imageio=2.31.3=pypi_0
imbalanced-learn=0.11.0=pypi_0
importlib-metadata=5.2.0=pypi_0
importlib-resources=6.0.1=pypi_0
iniconfig=2.0.0=pypi_0
interpret=0.4.4=pypi_0
interpret-core=0.4.4=pypi_0
ipykernel=6.25.2=pypi_0
ipython=8.15.0=pypi_0
ipywidgets=8.1.1=pypi_0
isoduration=20.11.0=pypi_0
itsdangerous=2.1.2=pypi_0
jedi=0.19.0=pypi_0
jinja2=3.1.2=pypi_0
jmespath=1.0.1=pypi_0
joblib=1.3.2=pypi_0
json5=0.9.14=pypi_0
jsonpointer=2.4=pypi_0
jsonschema=4.19.0=pypi_0
jsonschema-specifications=2023.7.1=pypi_0
jupyter-client=8.3.1=pypi_0
jupyter-core=5.3.1=pypi_0
jupyter-dash=0.4.2=pypi_0
jupyter-events=0.7.0=pypi_0
jupyter-lsp=2.2.0=pypi_0
jupyter-server=2.7.3=pypi_0
jupyter-server-terminals=0.4.4=pypi_0
jupyterlab=4.0.6=pypi_0
jupyterlab-pygments=0.2.2=pypi_0
jupyterlab-server=2.25.0=pypi_0
jupyterlab-widgets=3.0.9=pypi_0
kaleido=0.2.1=pypi_0
kiwisolver=1.4.5=pypi_0
kmodes=0.12.2=pypi_0
lazy-loader=0.3=pypi_0
libffi=3.4.4=hd77b12b_0
lightgbm=4.1.0=pypi_0
lime=0.2.0.1=pypi_0
llvmlite=0.40.1=pypi_0
locket=1.0.0=pypi_0
lxml=4.9.3=pypi_0
m2cgen=0.10.0=pypi_0
mako=1.2.4=pypi_0
markupsafe=2.1.3=pypi_0
matplotlib=3.8.0=pypi_0
matplotlib-inline=0.1.6=pypi_0
mistune=3.0.1=pypi_0
mlflow=1.30.1=pypi_0
mlxtend=0.22.0=pypi_0
moto=4.2.2=pypi_0
msgpack=1.0.5=pypi_0
multimethod=1.9.1=pypi_0
multiprocess=0.70.15=pypi_0
nbclient=0.8.0=pypi_0
nbconvert=7.8.0=pypi_0
nbformat=5.9.2=pypi_0
nest-asyncio=1.5.7=pypi_0
networkx=3.1=pypi_0
nltk=3.8.1=pypi_0
notebook-shim=0.2.3=pypi_0
numba=0.57.1=pypi_0
numpy=1.23.5=pypi_0
oauthlib=3.2.2=pypi_0
openssl=3.0.10=h2bbff1b_2
optuna=3.3.0=pypi_0
orjson=3.9.7=pypi_0
outcome=1.2.0=pypi_0
overrides=7.4.0=pypi_0
oyaml=1.0=pypi_0
packaging=21.3=pypi_0
pandas=1.5.3=pypi_0
pandocfilters=1.5.0=pypi_0
parso=0.8.3=pypi_0
partd=1.4.0=pypi_0
patsy=0.5.3=pypi_0
percy=2.0.2=pypi_0
phik=0.12.3=pypi_0
pickleshare=0.7.5=pypi_0
pillow=10.0.0=pypi_0
pip=23.2.1=py310haa95532_0
platformdirs=3.10.0=pypi_0
plotly=5.16.1=pypi_0
plotly-resampler=0.9.1=pypi_0
pluggy=1.3.0=pypi_0
pmdarima=2.0.3=pypi_0
prometheus-client=0.17.1=pypi_0
prometheus-flask-exporter=0.22.4=pypi_0
prompt-toolkit=3.0.39=pypi_0
protobuf=4.24.3=pypi_0
psutil=5.9.5=pypi_0
pure-eval=0.2.2=pypi_0
py4j=0.10.9.7=pypi_0
pyaml=23.9.6=pypi_0
pyarrow=6.0.1=pypi_0
pycaret=3.1.0=pypi_0
pycparser=2.21=pypi_0
pydantic=1.10.12=pypi_0
pydub=0.25.1=pypi_0
pygments=2.16.1=pypi_0
pyjwt=2.8.0=pypi_0
pynndescent=0.5.10=pypi_0
pyod=1.1.0=pypi_0
pyopenssl=23.2.0=pypi_0
pyparsing=3.1.1=pypi_0
pysocks=1.7.1=pypi_0
pytest=7.4.2=pypi_0
python=3.10.13=he1021f5_0
python-dateutil=2.8.2=pypi_0
python-graphviz=0.20.1=pypi_0
python-json-logger=2.0.7=pypi_0
python-multipart=0.0.6=pypi_0
pytz=2022.7.1=pypi_0
pywavelets=1.4.1=pypi_0
pywin32=306=pypi_0
pywinpty=2.0.11=pypi_0
pyyaml=6.0.1=pypi_0
pyzmq=25.1.1=pypi_0
qpd=0.4.4=pypi_0
querystring-parser=1.2.4=pypi_0
ray=2.6.3=pypi_0
referencing=0.30.2=pypi_0
regex=2023.8.8=pypi_0
requests=2.31.0=pypi_0
responses=0.23.3=pypi_0
retrying=1.3.4=pypi_0
rfc3339-validator=0.1.4=pypi_0
rfc3986-validator=0.1.1=pypi_0
rpds-py=0.10.3=pypi_0
s3transfer=0.6.2=pypi_0
salib=1.4.7=pypi_0
schemdraw=0.15=pypi_0
scikit-base=0.5.1=pypi_0
scikit-image=0.21.0=pypi_0
scikit-learn=1.2.2=pypi_0
scikit-learn-intelex=2023.2.1=pypi_0
scikit-optimize=0.9.0=pypi_0
scikit-plot=0.3.7=pypi_0
scipy=1.10.1=pypi_0
seaborn=0.12.2=pypi_0
selenium=4.2.0=pypi_0
semantic-version=2.10.0=pypi_0
send2trash=1.8.2=pypi_0
setuptools=68.0.0=py310haa95532_0
shap=0.42.1=pypi_0
six=1.16.0=pypi_0
skope-rules=1.0.1=pypi_0
sktime=0.21.1=pypi_0
slicer=0.0.7=pypi_0
smmap=5.0.0=pypi_0
sniffio=1.3.0=pypi_0
sortedcontainers=2.4.0=pypi_0
soupsieve=2.5=pypi_0
sqlalchemy=1.4.49=pypi_0
sqlglot=18.5.0=pypi_0
sqlite=3.41.2=h2bbff1b_0
sqlparse=0.4.4=pypi_0
stack-data=0.6.2=pypi_0
starlette=0.27.0=pypi_0
statsforecast=1.5.0=pypi_0
statsmodels=0.14.0=pypi_0
tabulate=0.9.0=pypi_0
tangled-up-in-unicode=0.2.0=pypi_0
tbats=1.1.3=pypi_0
tbb=2021.10.0=pypi_0
tblib=2.0.0=pypi_0
tenacity=8.2.3=pypi_0
tensorboardx=2.6.2.2=pypi_0
terminado=0.17.1=pypi_0
threadpoolctl=3.2.0=pypi_0
tifffile=2023.8.30=pypi_0
tinycss2=1.2.1=pypi_0
tk=8.6.12=h2bbff1b_0
tomli=2.0.1=pypi_0
toolz=0.12.0=pypi_0
tornado=6.3.3=pypi_0
tqdm=4.66.1=pypi_0
trace-updater=0.0.9.1=pypi_0
traitlets=5.10.0=pypi_0
treeinterpreter=0.2.3=pypi_0
triad=0.9.1=pypi_0
trio=0.22.2=pypi_0
trio-websocket=0.10.4=pypi_0
tsdownsample=0.1.2=pypi_0
tune-sklearn=0.4.6=pypi_0
typeguard=2.13.3=pypi_0
types-pyyaml=6.0.12.11=pypi_0
typing-extensions=4.7.1=pypi_0
tzdata=2023c=h04d1e81_0
umap-learn=0.5.3=pypi_0
uri-template=1.3.0=pypi_0
urllib3=1.26.16=pypi_0
urllib3-secure-extra=0.1.0=pypi_0
uvicorn=0.23.2=pypi_0
vc=14.2=h21ff451_1
visions=0.7.5=pypi_0
vs2015_runtime=14.27.29016=h5e58377_2
waitress=2.1.2=pypi_0
wcwidth=0.2.6=pypi_0
webcolors=1.13=pypi_0
webencodings=0.5.1=pypi_0
websocket-client=1.6.3=pypi_0
websockets=11.0.3=pypi_0
werkzeug=2.2.3=pypi_0
wheel=0.38.4=py310haa95532_0
widgetsnbextension=4.0.9=pypi_0
wordcloud=1.9.2=pypi_0
wrapt=1.15.0=pypi_0
wsproto=1.2.0=pypi_0
wtforms=3.0.1=pypi_0
xgboost=2.0.0=pypi_0
xmltodict=0.13.0=pypi_0
xxhash=3.3.0=pypi_0
xz=5.4.2=h8cc25b3_0
ydata-profiling=4.5.1=pypi_0
yellowbrick=1.5=pypi_0
zict=3.0.0=pypi_0
zipp=3.16.2=pypi_0
zlib=1.2.13=h8cc25b3_0
zope-event=5.0=pypi_0
zope-interface=6.0=pypi_0
